/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

 h1 {
padding-bottom: 10px;
    margin: 0 0 5px;
    font-size: 5em;
    font-weight: thick;
    font-family: 'Baskerville', serif;
    border-bottom: 1px solid #ccc;
    color: rgb(152,173,166);
    text-decoration: none;
}
 img {
    border: 5px rgb(152,173,166) solid;
}
  h2 {
    color: rgb(152,173,166);
  }
p {
    font-size:16px;
    color:rgb(88,88,88);
}
footer p  {
  font-size:16px;
  color:rgb(88,88,88);
  text-align:right;
}